.sidebar-toggle {
    z-index: 1010;
    width: 25px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 0;
    border: none;
    border-radius: 0 5px 5px 0;
    color: black;
    background-color: white;
    opacity: 25%;
}

.sidebar-toggle:hover {
    opacity: 50%;
}